#h1{
    text-align: center;
    font-size: 40px;
    margin-right: 500px;
    margin-left: 100px;
}

/* .container {
    display: flex;
    justify-content: center;
    
  } */
  
  .btn {
    margin-right: 10px;
    background-color: rgb(186, 186, 255);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
  }

  .head{
    background-color: aliceblue;
  }

  #art{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    margin-left: 100px;
    padding-top: 10px;
    margin-top: 30px;
    color: rgb(88, 88, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .txt{
    margin-left: 100px;
    padding-top: 10px;
    float:left ;
    width: 50%;
  }

  #pic{
    width: 400px;
    height: auto;
    /* margin-left: 13px; */
    /* margin-right: 120px; */
    margin-bottom: 50px;
    
  }

  .nav{
    display:flex;
  }
  